<article class="last-article">
  <a href="{{ path('blog_article', { slug: article.slug })}}">
  <img 
    src="{{ sonata_path(article.image, 'medium') }}" 
    width="{{ article.image.width }}" 
    height="{{ article.image.height }}" 
    alt="{{ article.title }}"
    class="block w-full h-auto mb-4" 
    loading="lazy"
  />
  </a>
  <h4 class="h4">
    <a class="text-body" href="{{ path('blog_article', { slug: article.slug })}}">
      {{ article.title }}
    </a>  
  </h3>
</article>