<div class="pay-box">
  <p class="pay-box__amount">
    {% if discountCode is empty %}
      20
    {% else %}
      {{discountCode.price}}
    {% endif %}
    €
  </p>
  <div class="pay-box__form">
    <button id="checkout-button">Subscribe</button>
  </div>
</div>

{{ form_start(applyDiscountCodeForm) }}
{{ form_widget(applyDiscountCodeForm) }}
{{ form_end(applyDiscountCodeForm) }}

<p>Si de momento no te interesa realizar el pago puedes <a href="{{ path('app_logout') }}">
  cerrar sesión</a> para seguir navegando normalmente.</p>
<p>
Para cualquier consulta que te surja durante el proceso puedes contactar con nosotros a través de 
<a href="mailto:info@clasesdeapoyo.com">info@clasesdeapoyo.com</a>.
</p>
<p>
¡Bienvenido!
</p>