<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="apple-itunes-app" content="app-id=593278230"/>
    <link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}"/>
    <link rel="preload" href="{{ asset('build/fonts/icomoon.ttf') }}" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preconnect" href="https://accounts.google.com">
    <link rel="preconnect" href="https://d10lpsik1i8c69.cloudfront.net">
    <link rel="preconnect" href="https://ssl.gstatic.com">
    <link rel="preconnect" href="https://apis.google.com">
    <link rel="preconnect" href="https://www.youtube.com">
    <link rel="preconnect" href="https://settings.luckyorange.net">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300..800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="fb:app_id" content="119458268142780" />
    <meta property="og:site_name" content="Clases de Apoyo" />
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
    <meta property="og:street_address" content="Avenida Menéndez Pelayo, 83" />
    <meta property="og:locality" content="Madrid" />
    <meta property="og:region" content="Madrid" />
    <meta property="og:postal_code" content="28007" />
    <meta property="og:country_name" content="Spain" />
    <meta property="og:email" content="info@clasesdeapoyo.com" />
    <meta property="og:phone_number" content="91 212 32 11" />
    {% block metatags %}{% endblock %}
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %} 
  </head>
  {% set analytics_enabled = app.environment == 'prod' %}
  {% set google_ads_enabled = (app.environment != 'dev') and not isPremium() and ('fos_user' not in app.request.attributes.get('_route')) %}
  {% set cookie_consent_available = analytics_enabled or google_ads_enabled or app.environment == 'dev' %}
  <body
    data-ga-enabled="{{ analytics_enabled ? '1' : '0' }}"
    data-ga-id="{{ analytics_enabled ? 'G-20GQFJDF5H' : '' }}"
    data-google-ads-enabled="{{ google_ads_enabled ? '1' : '0' }}"
    data-google-ads-client="{{ google_ads_enabled ? 'ca-pub-7198950640550751' : '' }}"
  >
    {{ renderHeader() }}
    {% block body %}{% endblock %}
    
    {% include 'common/elements/prefooter.html.twig' %}
    {% include 'common/elements/footer.html.twig' %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name" : "Clases de Apoyo",
        "url": "{{ app.request.getSchemeAndHttpHost() }}",
        "logo": "{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/images/logo.png') }}",
        "contactPoint" : [{
          "@type" : "ContactPoint",
          "telephone" : "+34912123211",
          "contactType" : "customer service",
          "areaServed" : "ES",
          "availableLanguage" : [
            "Spanish"
          ]
        }]
      }
    </script>
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
    {% include 'common/elements/cookie-consent.html.twig' with {
      consent_available: cookie_consent_available,
      analytics_enabled: analytics_enabled,
      ads_enabled: google_ads_enabled
    } %}
  </body>
</html>
